[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/arbaz/Desktop/chromium_chromium.desktop]
row=4
col=0

[2020-01-13-11-26-32-82]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/arbaz]
row=2
col=0

